<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Become Bald</h1>
  <h2>pikachu busted</h2>
  <% if (user.status === 'Member') {%>
  <form action='bald' method = 'POST'>
    <label for='password'>Password</label>
    <input type="password" name='password'/>
    <button>Gain Access</button>
  </form>
  <% } else { %>
    <h3>Be a Esam Member First</h3>
    <%}%>
</body>
</html>