<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Send A Message</h1>
  <form action='message' method='POST'>
    <form action='check' method = 'POST'>
        <label for='title'>Title</label>
        <input type="text" name='title'/>
    
        <label for='message'>Message</label>
        <input type="text" name='message'/>
        <button>Send</button>
    </form>

  </form>
</body>
</html>